<div class="header-nav shadow-sm">
  <%= link_to events_path do%>
    <div class="header-nav-entry">
      Ongoing
    </div>
  <% end %>
  <%= link_to events_path(:s => "completed") do%>
    <div class="header-nav-entry">
      Completed
    </div>
  <% end %>
</div>

<div class="events-container shadow">
  <% @events.each do |event| %>
    <%= react_component("Event", {event: event, compact: true}, {class: "event-entry"}) %>
  <% end %>
</div>

<div class="shadow">
  <%= link_to "Create New Event", new_event_path, class: "btn btn-primary"%>
</div>
