<div class="column-2">
  <div class="descriptor">Team</div>
  <%= react_component("Team", {teams1: @info[0], teams2: @info[1], matches: @officials, team: @team, events: @info[2], sections: @info[3], compact: false}, {style: "margin-bottom: 1rem"})%>
  <%= will_paginate @officials %>
</div>
<div class="column-3 indent-right">
  <div class="descriptor">
    Roster
  </div>
  <div class="team-roster shadow-sm">
    <% @players.each do |player| %>
      <%= react_component("Player", {player: player}) %>
    <% end %>
  </div>
</div>
