<div class="jumbotron shadow-sm">
  <%= link_to "Schedule", matches_path %>
  <%= link_to "Results", matches_path(:f => "results")%>
</div>

<div class="jumbotron shadow-sm">
  <% @officials.each do |match| %>
    <%= react_component("Match", {match: match, compact: false, teams: [match.team1, match.team2]}) %>
  <% end %>
</div>
