/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 $background: #dadadc;
 $body-width: 65%;
 $hover-color: rgb(240, 240, 240);
 $info-heavy-width: 90%;
 $header-width: 75%;
 $link-color: rgb(13, 120, 165);

 html {
   height: 100%;
 }

 body {
   height: 100vh;
   display: flex;
   flex-direction: column;
   background-color: $background;

   .body-wrapper{
     margin: 0 auto;
     width: $body-width;
   }

   .alert {
     width: 100%;
   }
   .main-content{
     margin-bottom: 2rem;
     flex: 1 0 auto;
   }
 }

 footer {
  color: white;
  flex-shrink: 0;
  padding: .75rem 1.5rem;
 }

 table{
   thead {
     font-size: 14px;
   }
   tbody {
     font-size: 14px;
   }
 }

.jumbotron {
  width: 90%;
  margin: 2rem auto;
  background: white;
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;
}

.skinny {
  margin: 0 auto;
  padding: 0;
}

.link{
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
    background-color: $hover-color;
  }
}

.actions {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.light-text {
  font-size: 12px;
  font-weight: lighter;
  color: #aaa;
}

.username{
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.match-score-nice{
  margin-right: 10px;
}

.score-entry{
  font-size: 11px;
  background: rgba(0, 0, 0, 0.05);
  padding: 6px;
  border-radius: 2px;
}

.font-light{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.link-nodec{
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
    color:black;
  }

  &.color {
    color: $link-color;
  }
}

.header-img {
  overflow: hidden;
  width: 130px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 200px;
  }
}

.card-header{
  padding: 1rem;
  border-bottom: 1px solid #d4d4d4;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.country{
  display: flex;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 13px;
  .country-flag {
    margin: 0 5px;
  }
}

.header-nav{
  width: $header-width;
  height: 55px;
  margin: 1rem auto;
  background-color: white;
  display: flex;
  padding: 0 2rem;

  .header-nav-first{
    border-left: 1px solid #d4d4d4;
  }

  a{
    &:hover{
      text-decoration: none;
    }
  }

  .header-nav-entry {
    font-size: 13px;
    vertical-align: middle;
    padding: 1rem;
    height: 100%;
    border-right: 1px solid #d4d4d4;

    &:hover{
      background-color: $hover-color;
    }
  }
}

/* Matches */
.import-csv-form{
  display: flex;

  div {
    margin-right: 10px;
  }
}

.matches {
  td {
    vertical-align: middle;
  }
}

.match-details{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Streams */
.streamer-list{
  width: 50%;
  padding: 1rem;

  a {
    color: black;

    &:hover{
      text-decoration: none;
      background-color: #F0F0F0;
    }

    &:active{
      background-color: white;
    }
  }

  .streamer-row{
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-bottom: .5px solid grey;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;

    .streamer-info{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 100%;
      .streamer-flag {
        margin-right: 8px;
      }
    }

    .streamer-title{
      font-weight: 200;
      font-size: 11px;
    }

    .streamer-viewcount{
      display: flex;
      justify-content: flex-end;
    }
  }
}

/* Forum */
.thread{
  margin: 0 auto;
  width: 80%;
}
.forum-post-wrapper {

  margin: 10px 0;

  .forum-post {
    display:grid;
    grid-template-rows: 1fr auto 1fr;
    font-size: 14px;
    background-color: white;

    > div {
      display: flex;
      padding: 0 20px;
      height: 30px;
      align-items: center;
    }

    .post-body {
      padding: 10px 20px;
      height: 100%;
    }

    .post-footer{
      border-top: 1px solid #ccc;
      font-size: 12px;
      justify-content: space-between;

      .post-footer-thread {
        font-weight: lighter;
      }

      .post-timestamp{
        flex: 90;
        font-weight: lighter;
      }

      .post-footer-actions{
        text-align: center;
        flex: 10;
        display: grid;
        grid-template-columns: 50% 50%;

        > div {
          cursor: pointer;
          &:hover {
            color: #3393FF;
          }
        }

        .reply-button{
          border-left: 1px solid #ccc;
        }
      }
    }

    .post-header{
      justify-content: space-between;
      font-size: 13px;
      background-color: #eee;

      .post-title{
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
}
.post-reply {
  margin-top: 10px;

  .post-reply-topbar {
    background-color: #eee;
    height: 30px;
  }
}

.bottom-reply {
  margin: 1rem 0;
}

.parent-post > .parent-post {
  margin-left: 10px;
}

.thread-wrapper{
  margin: 1rem 0;
}

.edit_forum_post {
  width: 100%;
}

.reply-form {
  width: 100%;
}

.submit-post-button{
  padding: 6px;
  text-align: center;
  font-size: 13px;
  color: white;
  background-color: #5d9dd5;
}

/* Events */
.events-container {
  margin: auto;
  width: $header-width;
  background-color: rgb(253,253,253);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;


  .event-entry{
    position: relative;
    box-sizing: border-box;
    a{
      text-decoration: none;
    }
  }

  .event-entry::before{
    content: '';
    display: block;
    padding-top: 110%;
  }
  .event-card{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 15px;

    &:hover{
      background-color: rgb(249,249,249);
    }

    .event-card-wrapper{
      height: 100%;
      background-color: rgb(245,245,245);
      display: grid;
      grid-template-rows: 55% 45%;
      font-size: 13px;
      color: black;
      border-radius: 5px;
    }

    .event-information {
      background-color: white;
      display: grid;
      grid-template-rows: 55% 45%;
      text-align: center;

      .event-info-top{
        display: grid;
        grid-template-rows: 1fr 1fr;

        .event-name{
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
        }

        .event-place {
          display: flex;
          justify-content: center;
          .event-country{
            margin-right: 5px;
          }
        }
      }
      .event-info-bottom{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        font-weight: bold;
        font-size: 12px;

        .event-date{
          display: grid;
          grid-template-rows: 1fr 1fr;
          grid-row-gap: 5px;
        }
      }
    }
  }
}

.event-overview-prize{
  font-size: 13px;
}

.event-picture{
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 85%;
    height: 85%;
  }
}

.event-stages{
  padding-left: 1rem;
  display:flex;
  align-items: center;
  border-top: 1px solid #ccc;

  a:last-child{
    border-right: 1px solid #ccc;
  }

  .event-stages-entry{
    padding: 1rem;
    border-left: 1px solid #ccc;

    &:hover{
      cursor: pointer;
      background-color: $hover-color;
    }
  }

  .event-stages-dates{
    font-size: 13px;
    color: #aaa;
  }

  .event-stages-name{
    font-size: 14px;
    color: $link-color;
  }
}

.match-horz{
  font-size: 12px;
  display: grid;
  padding: .4rem 1rem;
  border-bottom: 1px solid #ccc;
  grid-template-columns: 2fr 2.5fr 2fr 1.5fr;
  grid-column-gap: 4rem;

  .match-horz-rel-time {
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .match-horz-type{
    display: flex;
    align-items: center;
  }

  .match-horz-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 100px;
    .match-horz-day {
      margin-right: 1rem;
    }
  }

  .match-horz-vs{
    display: flex;
    flex: 0 0 220px;
    flex-direction: column;

    .match-horz-vs-scores{
      display: flex;
      justify-content: space-between;

      .match-horz-vs-team{
        margin-right: 2rem;
      }
    }
  }
}

/* Officials */
.team-logo {
  width: 26px;
  height: 26px;
}

.flag-logo{
  width: 24px;
  height: 15px;
}


.social-logo{
  width: 20px;
}

.team-table{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 15px;

  .team-table-link{
    text-decoration: none;
  }

  .team-table-entry{
    width: 100%;
    font-size: 13px;
    color: $link-color;
    text-align: center;

    &:hover div{
      background-color: $hover-color;
    }
    .team-table-img {
      border: 1px solid #ccc;
      padding: 1rem;
      border-radius: 5px;
      margin-bottom: 5px;
    }
    img {
      width: 100%;
    }
  }
}

.team-table-row{
  font-size: 13px;
  td {
    vertical-align: middle;
  }
  span {
    margin-right: 5px;
  }

  .team-shortname {
    font-weight: lighter;
  }
}

.team-header{
  display: flex;
  width: $info-heavy-width;
  margin: 1.5em auto;
  background: white;
  padding: 1.5em;

  h2 {
    margin: 0;
  }

  a {
    color: black;
  }
  .team-socials {
    justify-content: space-between;
    .team-social {
      font-size: 13px;
      margin-right: 5px;
    }
  }

  .team-header-logo {
    width: 100px;
    border: 1px solid #ccc;
  }

  .team-header-name {
    margin-left: 15px;
    display: grid;
  }

  .event-date-end, .event-date-start{
    font-size: 13px;
  }
}

.team-information{
  background-color: inherit;
  display: grid;
  width: $info-heavy-width;
  margin: 1.5em auto;
  grid-template-columns: 7.5fr 2.5fr;
  grid-column-gap: 1.5em;

  .team-matches{
    background: white;
  }

  .team-roster{
    background: white;
    a{
      text-decoration: none;
    }

    .team-player{
      display: flex;
      padding: .5rem;
      border-bottom: 1px solid #d4d4d4;
      cursor: pointer;

      .team-player-inner{
        display: flex;
      }

      &:hover{
        background-color: $hover-color;
      }

      .team-player-info{
        margin-left: 10px;
        display: flex;
        flex-direction: column;

        .team-player-handle{
          color: #444;
          text-transform: none;
          font-weight: 500;
          font-size: 13px;
        }

        .team-player-name{
          color: rgb(136, 136, 136);
          font-weight: 300;
          text-transform: none;
        }
        .team-player-roles{
          font-size: 12px;
          text-transform: capitalize;
          color: black;
        }
      }

      .team-player-headshot-img{
        width: 50px;
        height: 50px;
      }
    }
  }
}

/* Standings */
.standings {
  width: 45%;
  margin: 2rem 0 0 5%;

  .standings-header {
    font-size: 12px;
    font-weight: 400;
  }

  .standings-team-logo{
    width: 25px;
  }

  tbody{
    font-size: 13px;

    tr{
      a{
        color: $link-color;
      }
    }

    tr:hover{
      background-color: $hover-color;
    }
  }
}

/* Match Page */
.match-page{
  margin: 0 auto;
  padding: 2rem 0;
  width: 70%;

  .match-recent-matches{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    grid-column-gap: 3%;
    align-items: center;

    .match-recent-entry{
      font-size: 13px;
      display: flex;
      padding: 20px;
      border-bottom: 1px solid #ccc;

      &:hover{
        background-color: $hover-color !important;
      }

      &.match-win{
        background-color: #e3ede7;
      }

      &.match-lose{
        background-color: #efd9d7;;
      }
      .match-recent-entry-opp{
        flex: 1;

        span {
          margin-left: 5px;
        }
      }

      .match-recent-entry-date{
        font-weight: 300;
        font-size: 12px;
      }

      div {
        align-items: center;
      }
    }
  }
}

.match-header{
  display: grid;
  grid-template-rows: 30% 70%;
  background-color: white;
  padding: 1rem;

  .match-header-info{
    display: flex;
    justify-content: space-between;

    .match-header-event, .match-header-date{
      display: grid;
      grid-template-rows: 50% 50%;
    }

    .match-header-date{
      text-align: right;
    }
  }

  .match-header-scoreboard{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;

    .match-header-score{
      text-align: center;
      margin: 0 10px;
    }
  }
}
.team-img-lg{
  width: 80px;
}
.team-img-md{
  width: 50px;
}
.event-logo{
  width: 50px;
}

.match-head-to-head{
  background-color: white;
  margin-bottom: 1rem;

  .head-to-head-teams{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    align-items: center;
  }

  .match-h2hs{

    .match-h2h{
      display: flex;
      align-items: center;
      padding: 15px 20px 15px 15px;
      font-size: 13px;

      &:hover{
        background-color: $hover-color;
      }
      .match-h2h-event{
        display: flex;
        flex: 1;
        align-items: center;
      }
      .match-h2h-teams{
        display: flex;
        justify-content: center;
        align-self: center;
        flex: 1;
      }
      .score-entrys{
        margin: 0 10px;
      }
      .match-h2h-date{
        display: flex;
        justify-content: flex-end;
        flex: 1;
      }
   }
 }
}
