/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

 body {
   & > div {
     width: 65%;
   }

   & > form {
     margin: 0 auto;
     width: 65%;
   }
   .alert {
     width: 100%;
   }
 }

 table{
   thead {
     font-size: 14px;
   }
   tbody {
     font-size: 14px;
   }
 }

.jumbotron {
  margin: 2rem auto;
  background: white;
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;
}

.actions {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.username{
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Matches */
.import-csv-form{
  display: flex;

  div {
    margin-right: 10px;
  }
}

.matches {
  td {
    vertical-align: middle;
  }
}

.match-details{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Streams */
.streamer-list{
  width: 30%;
  padding: 1rem;

  a {
    color: black;

    &:hover{
      text-decoration: none;
      background-color: #F0F0F0;
    }

    &:active{
      background-color: white;
    }
  }

  .streamer-row{
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-bottom: .5px solid grey;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;

    .streamer-info{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .streamer-title{
      font-weight: 200;
    }

    .streamer-viewcount{
      display: flex;
      justify-content: flex-end;
    }
  }
}
