/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

 $background: #dadadc;
 $body-width: 65%;
 $hover-color: rgb(240, 240, 240);
 $info-heavy-width: 90%;
 $header-width: 75%;
 $link-color: rgb(13, 120, 165);

 html {
   height: 100%;
 }

 header{
   background-color: #363636;
   .active{
     border-bottom: 2px solid yellow;
   }

   a {
     color: white;
     display: block;

     &:hover{
       text-decoration: none;
       color: white;
     }
   }

   .header-inner{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 5rem;

     .header-home{
       padding: .75rem;
       border-left: 1px solid #262626;
     }
     .header-link{
       padding: .75rem;
       font-size: 14px;
       border-left: 1px solid #262626;

       &:hover{
         border-bottom: 2px solid white;
       }
     }
     .header-actions{
       display: flex;
       align-items: center;
     }
     .header-user{
       padding: 0 .75rem;
       display: flex;
       font-size: 14px;
       align-items: center;
     }
     .username{
       color: white;
       text-align: center;

     }
   }
 }

 body {
   height: 100vh;
   display: flex;
   flex-direction: column;
   background-color: $background;

   .body-wrapper{
     margin: 0 auto;
     width: $body-width;
   }

   .alert {
     margin-bottom: 0;
     width: 100%;
   }
   .main-content{
     margin-bottom: 2rem;
     flex: 1 0 auto;
   }
 }

 footer {
  color: white;
  flex-shrink: 0;
  padding: .5rem 1.5rem;
 }

 table{
   thead {
     font-size: 14px;
   }
   tbody {
     font-size: 14px;
   }
 }

 .table{
   td{
     text-align: left !important;
     padding: .5rem;
     vertical-align: middle;
   }
 }

 .dropdown{
   background-color: #363636;
   color: white;
   .dropdown-menu{
     font-size: 13px;
     margin-top: 20px;
     background-color: #363636;
     .dropdown-item{
       padding: 0.25rem 1rem;
       color: white;
       &:hover{
         color: black;
       }
     }
   }
 }

.checkmark {
  display: flex;
  align-items: center;

  .check {
    width: 15px;
  }
}
.admin-form {
  background-color: #fafafa;
  margin: 0 0 1rem 0;
  .fields {
    display: grid;
    grid-row-gap: 1rem;
    padding: 1rem;

    .descriptor{
      padding: 0 0 .5rem .25rem;
    }
    input, select {
      width: 100%;
    }

    select {
      font-size: 12px;
    }

    input {
      padding: 5px;
      font-size: 12px;
      border: none;

      &:focus{
        outline: none !important;
        border-bottom: 1px solid green !important;
      }
    }

    input[type="text"], input[type="email"], input[type="password"], input[type="color"], input[type="number"], input[type="date"]{
      background-color: inherit;
      border-bottom: 1px solid #ccc;
    }
    input[type="checkbox"] {
      width: 20px;
    }
  }
  .thin{
    grid-row-gap: 1rem !important;
    .descriptor{
      padding: 0 0 0 .25rem;
    }
  }

  .split {
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
  }
  input[type='submit']{
    background-color: inherit;
    border: 1px solid $link-color;
    border-radius: 5px;

    &:hover{
      background-color: $hover-color;
    }
  }
  .extra-actions{
    display:flex;
    justify-content: center;
    padding-bottom: 1rem;
    font-size: 13px;
  }

}

p{
  margin-bottom: 0;
}

.pagination {
  display: flex;
  align-items: center;

  .page_info {
    margin-right: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    color: #666;
    padding-left: .75rem;
  }

  .gap{
    margin-left: 5px;
  }
}

.pagination .disabled {
  color: #aaaaaa;
  display: none;
}
.pagination .current {
  font-style: normal;
  margin-left: 5px;
  font-size: 11px;
  background: #bbb;
  color: #f4f4f4;
  padding: 10px;
  border-radius: 2px;
  text-decoration: none;
}
.pagination a {
  margin-left: 5px;
  font-size: 11px;
  background: #f4f4f4;
  color: #666;
  padding: 10px;
  border-radius: 2px;
  text-decoration: none;
}
.pagination a:hover, .pagination a:focus {
  border-color: #003366;
  background: #007bff;
  color: white;
}

.winner{
  color: green;
}
.draw{
  color: blue;
}
.positive{
  color: green;
}

.negative{
  color: red;
}

.type-match{
  border-left: 2px solid #e63865;
}

.type-news{
  border-left: 2px solid #55a528;
}

.type-forum{
  border-left: 2px solid #ffae00;
}

.capitalize {
  text-transform: capitalize;
}

.skinny {
  margin: 0 auto;
  padding: 0;
}

.button_to{
  input {
    border: none;
    background-color: #eee;
    padding: 3px;
  }
}

.link{
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
    background-color: $hover-color;
  }
}

.descriptor {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  color: #666;
  padding: .75rem;

  span{
    margin-right: 1rem;
  }
}

.actions {
  font-size: 10px;
  background-color: #fafafa;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.light-text {
  font-size: 11px;
  font-weight: lighter;
  color: #aaa;
}

.match-score-nice{
  margin-right: 10px;
}

.score-entry{
  font-size: 11px;
  background: rgba(0, 0, 0, 0.05);
  padding: 6px;
  border-radius: 2px;
}

.post-entry{
  font-size: 10px;
  background: rgba(0, 0, 0, 0.05);
  padding: 3px;
  border-radius: 2px;
}

.font-light{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.link-nodec{
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
  }

  &.color {
    color: $link-color;
  }
}

.header-img {
  overflow: hidden;
  width: 130px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 200px;
  }
}

.card-header{
  padding: 1rem;
  border-bottom: 1px solid #d4d4d4;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.country{
  display: flex;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 11px;
  .country-flag {
    margin: 0 5px;
  }
}

.header-nav{
  height: 55px;
  margin: 1rem auto;
  background-color: white;
  display: flex;
  padding: 0 2rem;

  .header-nav-first{
    border-left: 1px solid #d4d4d4;
  }

  a{
    &:hover{
      text-decoration: none;
    }
  }

  .header-nav-entry {
    font-size: 13px;
    vertical-align: middle;
    padding: 1rem;
    height: 100%;
    border-right: 1px solid #d4d4d4;

    &:hover{
      background-color: $hover-color;
    }
  }
}
/* Homepage */
.landing-page-wrapper{
  margin: 0 auto;
  background-color: #c6c6c6;
  height: 100%;
  .landing-page{
    height: 100%;
    margin: 0 5rem;
    background-color: #dadadc;
    .columns{
      display: flex;
      .column-1,.column-3, .column-4{
        max-width: 190px;
        flex: 0 0 190px;
        margin-left: 1rem;
      }
      .column-2 {
        margin-left: 1rem;
        flex-basis: 0;
        flex-grow: 1;
      }
      .column-4 {
        margin-right: 1rem;
      }
    }
  }
}

.upcoming-matches, .completed-matches, .events-comp, .discussions, .news, .forum-index{
  font-size: 10px;
  background-color: #fafafa;
}

.match-comp, .disc, .article{
  padding: .25rem .5rem;
  border-bottom: 1px solid #ccc;
  &:hover{
    background-color: $hover-color;
  }
  .match-comp-time{
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    color: grey;
    margin-bottom: 4px;
  }
  .match-comp-scores{
    display: flex;
    justify-content: space-between;
    .match-comp-team{
      font-weight: 500 !important;
    }
  }
}

.news {
  .article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    .article-comment {
      color: #888;
      font-size: 11px;
    }
    span{
      margin-right: 5px;
      font-size: 12px;
      font-weight: 500;
    }
  }
}

.discussions{
  .disc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;

    .disc-title{
      color: $link-color;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 10px;
    }
  }
}
.event-stages, .team-table-wrapper, .standings, .section-schedule{
  font-size: 10px;
  background-color: #fafafa;
}
.team-table-wrapper{
  padding: 1rem;
}

.event-comp{
  display: flex;
  padding: .75rem .25rem;
  border-bottom: 1px solid #ccc;
  &:hover{
    background-color: $hover-color;
  }
  div{
    display: flex;
    align-items: center;
  }

  .event-comp-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .event-comp-name {
      font-weight: bold;
    }

    .event-comp-date{
      font-size: 11px;
      color: #aaa;
    }
  }
}

/* Matches */
.import-csv-form{
  display: flex;

  div {
    margin-right: 10px;
  }
}

.matches {
  td {
    vertical-align: middle;
  }
}

.match-details{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Streams */
.streamer-list{
  width: 100%;
  background-color: #fafafa;

  a {
    color: black;

    &:hover, &:active{
      text-decoration: none;
      background-color: $hover-color;
    }
  }

  .streamer-row{
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-bottom: 1px solid #ccc;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;

    .streamer-info{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 100%;
      .streamer-flag {
        margin-right: 8px;
      }
    }

    .streamer-title{
      font-weight: 200;
      font-size: 11px;
    }

    .streamer-viewcount{
      display: flex;
      justify-content: flex-end;
    }
  }
}
/*Matches Page */
.matches-column{
  margin-right: 1rem;
}
.matches-page{
  font-size: 10px;
  background-color: #fafafa;
  margin-bottom: 1rem;
}

/* Forum */
.forum-index{
  margin-bottom: 1rem;
  .forum-index-header{
    display: grid;
    grid-template-columns: 60% 15% 15% 10%;
    padding: .75rem 1rem;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    font-weight: bold;
    font-size: 12px;
  }
}
.thread-comp{
  display: grid;
  grid-template-columns: 60% 15% 15% 10%;
  padding: .75rem 1rem;
  border-bottom: 1px solid #ccc;

  .thread-comp-sub, .thread-comp-author{
    font-weight: 500;
  }

  &:hover{
    background-color: $hover-color;
  }
}

.thread{
  margin: 0 auto;
}
.forum-post-wrapper {

  .forum-post {
    display:grid;
    grid-template-rows: 1fr auto 1fr;
    font-size: 14px;
    background-color: white;

    > div {
      display: flex;
      padding: 0 15px;
      height: 30px;
      align-items: center;
    }

    .post-body {
      font-size: 13px;
      padding: 10px 15px;
      height: 100%;
    }

    .post-footer{
      border-top: 1px solid #ccc;
      font-size: 12px;
      justify-content: space-between;

      .post-footer-thread {
        font-weight: lighter;
      }

      .post-timestamp{
        font-size: 11px;
        flex: 90;
        color: #888;
      }

      .post-footer-actions{
        color: #888;
        font-size: 11px;
        display: flex;
        justify-content: flex-end;
        flex: 10;

        > div {
          margin-left: 5px;
          cursor: pointer;
          &:hover {
            color: #3393FF;
          }
        }

        a{
          text-decoration: none;
          color: #888;
          &:hover{
            text-decoration: none;
            color: #3393FF;
          }
        }
      }
    }

    .post-header{
      color: #333;
      font-weight: 500;
      font-size: 11px;
      background-color: #eee;
      text-transform: capitalize;
      display: flex;
      justify-content: space-between;

      .post-vote{
        display: flex;
        align-items: center;
        div{
          font-size: 10px;
          margin-right: 3px;
          text-transform: none;
        }
      }

      img {
        margin-right: 5px;
      }

      .post-title{
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
.post-reply, .child-post-reply {
  margin-top: 10px;
}

.edit-reply{
  width: 100%;
}

.child-post-reply, .edit-reply{
  display: none;
}

.submit-post-button {
  margin-top: 5px;
}

.bottom-reply {
  margin: 1rem 0;
}

.parent-post > .parent-post {
  margin-left: 10px;
  margin-top: 10px;
}
.parent-post ~ .parent-post{
  margin-top: 10px;
}

.forum_post {
  width: 100%;
}

.submit-post-button{
  padding: 6px;
  text-align: center;
  font-size: 13px;
  color: white;
  background-color: #5d9dd5;
}

/* Events */
.events-container {
  margin: auto;
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: .25rem;


  .event-entry{
    position: relative;
    box-sizing: border-box;
    a{
      text-decoration: none;
    }
  }

  .event-entry::before{
    content: '';
    display: block;
    padding-top: 110%;
  }
  .event-card{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 15px;

    &:hover{
      background-color: rgb(249,249,249);
    }

    .event-card-wrapper{
      height: 100%;
      background-color: rgb(245,245,245);
      display: grid;
      grid-template-rows: 55% 45%;
      font-size: 12px;
      color: black;
      border-radius: 5px;
    }

    .event-information {
      background-color: white;
      display: grid;
      grid-template-rows: 55% 45%;
      text-align: center;

      .event-info-top{
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding: .5rem;

        .event-name{
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
        }

        .event-place {
          display: flex;
          justify-content: center;
          font-size: 11px;
          .event-country{
            margin-right: 5px;
          }
        }
      }
      .event-info-bottom{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        font-weight: bold;
        font-size: 11px;

        .event-date{
          display: grid;
          grid-template-rows: 1fr 1fr;
          grid-row-gap: 5px;
        }
      }
    }
  }
}

.event-overview-prize{
  font-size: 11px;
}

.event-picture{
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 85%;
    height: 85%;
  }
}

.event-stages{
  padding-left: 1rem;
  display:flex;
  align-items: center;
  border-top: 1px solid #ccc;

  a:last-child{
    border-right: 1px solid #ccc;
  }

  .event-stages-entry{
    padding: 1rem .75rem;
    border-left: 1px solid #ccc;

    &:hover{
      cursor: pointer;
      background-color: $hover-color;
    }
  }

  .event-stages-dates{
    font-size: 11px;
    color: #aaa;
  }

  .event-stages-name{
    font-size: 12px;
    color: $link-color;
  }
}

.match-horz{
  font-size: 11px;
  display: flex;
  padding: .6rem 1rem;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  div{
    margin-right: 1rem;
  }

  .match-event{
    display: flex;
    flex: 0 0 150px;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    .match-event-name{
      font-weight: 600;
    }
    .match-event-info{
      font-weight: 300;
    }
  }

  .match-horz-rel-time, .match-horz-type {
    display:flex;
    flex: 0 0 100px;
    align-items: center;
    justify-content: center;
  }

  .match-horz-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 150px;
    .match-horz-day {
      margin-right: 1rem;
      font-weight: 600;
    }
  }

  .match-horz-vs{
    margin-left: 1rem;
    display: flex;
    flex: 0 0 250px;
    flex-direction: column;

    .match-horz-vs-scores{
      display: flex;
      justify-content: space-between;

      .match-horz-vs-team{
        margin-right: 2rem;
      }
    }
  }
}

/* Officials */
.team-logo {
  width: 26px;
  height: 26px;
}

.flag-logo{
  width: 20px;
  height: 12.5px;
}


.social-logo{
  width: 20px;
}

.teamstable{
  background-color: #fafafa;
  span {
    font-size: 11px;
  }
  .team-table-row{
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: .75rem;
    font-size: 12px;
    .teamstable-ttr{
      flex: 0 0 200px;
    }

    span {
      margin-right: 5px;
    }

    .team-shortname {
      font-weight: lighter;
    }
  }
}

.team-table{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 15px;

  .team-table-link{
    text-decoration: none;
  }

  .team-table-entry{
    width: 100%;
    font-size: 12px;
    color: $link-color;
    text-align: center;

    &:hover div{
      background-color: $hover-color;
    }
    .team-table-img {
      border: 1px solid #ccc;
      padding: 1rem;
      border-radius: 5px;
      margin-bottom: 5px;
      background-color: rgb(235,235,235);
    }
    img {
      width: 100%;
    }
  }
}

.team-header{
  display: flex;
  margin: 0 auto;
  background: #fafafa;
  padding: 1rem;

  h2 {
    margin: 0;
  }

  a {
    color: black;
  }
  .team-socials {
    justify-content: space-between;
    .team-social {
      font-size: 12px;

    }
  }

  .team-header-logo {
    width: 100px;
    border: 1px solid #ccc;
  }

  .team-header-name {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    > div {
      margin-bottom: 5px;
    }
    .player-handle{
      font-size: 24px;
      font-weight: 700;
    }
    .player-nat-name{
      color: #888;
      font-size: 16px;
    }
  }

  .event-date-end, .event-date-start{
    font-size: 11px;
  }
}

.team-matches{
  background: #fafafa;
}

.team-roster{
  background: #fafafa;
  a{
    text-decoration: none;
  }

  .team-player{
    display: flex;
    padding: .5rem;
    border-bottom: 1px solid #d4d4d4;
    cursor: pointer;

    .team-player-inner{
      display: flex;
    }

    &:hover{
      background-color: $hover-color;
    }

    .team-player-info{
      margin-left: 10px;
      display: flex;
      flex-direction: column;

      .team-player-handle{
        color: #444;
        text-transform: none;
        font-weight: 500;
        font-size: 11px;
      }

      .team-player-name{
        color: rgb(136, 136, 136);
        font-weight: 300;
        text-transform: none;
        font-size: 10px;
      }
      .team-player-roles{
        font-size: 11px;
        text-transform: capitalize;
        color: black;
      }
    }

    .team-player-headshot-img{
      width: 50px;
      height: 50px;
    }
  }
}

/* Standings */
.standings {
  width: 70%;

  .standings-header {
    font-size: 11px;
    font-weight: 400;
    background-color: $hover-color;

  }

  .standings-team-logo{
    width: 25px;
  }

  tbody{
    font-size: 11px;

    tr{
      a{
        color: $link-color;
      }
    }

    tr:hover{
      background-color: $hover-color;
    }
  }
}

/* Match Page */
.indent-right{
  margin-right: 1rem;
}
.match-page{
  margin: 0;

  .match-recent-matches{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    grid-column-gap: 3%;
    align-items: center;

    .match-recent-entry{
      font-size: 12px;
      display: flex;
      padding: 20px;
      border-bottom: 1px solid #ccc;

      &:hover{
        background-color: $hover-color !important;
      }

      &.match-win{
        background-color: #e3ede7;
      }

      &.match-lose{
        background-color: #efd9d7;
      }
      .match-recent-entry-opp{
        flex: 1;

        span {
          margin-left: 5px;
        }
      }

      .match-recent-entry-date{
        font-weight: 300;
        font-size: 12px;
      }

      div {
        align-items: center;
      }
    }
  }
}

.match-header{
  display: grid;
  grid-template-rows: 30% 70%;
  background-color: #fafafa;
  padding: 1rem;
  font-size: 13px;

  .match-header-info{
    display: flex;
    justify-content: space-between;

    .match-header-event, .match-header-date{
      display: grid;
      grid-template-rows: 50% 50%;
    }

    .match-header-date{
      text-align: right;
    }
  }

  .match-header-scoreboard{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;

    .match-header-score{
      text-align: center;
      margin: 0 10px;
    }
    a{
      font-size: 15px;
    }
  }
}
.team-img-lg{
  width: 80px;
}
.team-img-md{
  width: 50px;
}
.team-img-sm{
  width: 25px;
}
.event-logo{
  width: 50px;
}

.match-head-to-head{
  background-color: #fafafa;
  font-size: 13px;

  .head-to-head-teams{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    align-items: center;

  }

  .match-h2hs{

    .match-h2h{
      display: flex;
      align-items: center;
      padding: 15px 20px 15px 15px;
      font-size: 13px;

      &:hover{
        background-color: $hover-color;
      }
      .match-h2h-event{
        display: flex;
        flex: 1;
        align-items: center;
      }
      .match-h2h-teams{
        display: flex;
        justify-content: center;
        align-self: center;
        flex: 1;
      }
      .score-entrys{
        margin: 0 10px;
      }
      .match-h2h-date{
        display: flex;
        justify-content: flex-end;
        flex: 1;
      }
   }
 }
}

.map-container{
  background: #fafafa;
  font-size: 12px;

  .map-container-navbar {
    background-color: $hover-color;
    display: flex;

    .map-entry {
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 1rem;
      flex:1 1 0;

      .map-entry-num{
        color: #aaa;
        font-size: 11px;
        font-weight: lighter;
        margin-bottom: 3px;
      }

      &:hover{
        background-color: white;
        cursor: pointer;
      }
    }
  }

  .map-container-games{
    padding: 1rem;

    .map-info {
      display: none;
      .map-game-wrapper{
        display: flex;
        flex-direction: column;

        .map-game-stats {
          display: flex;
          justify-content: space-between;
          padding: 1rem;

          .map-team{
            font-size: 13px;
            font-weight: bold;
          }
        }

        .map-rosters{
          padding: 1rem;
          display: grid;
          grid-template-columns: 30% 40% 30%;

          .map-scoreboard{
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ccc;
            font-size: 70px;

            span {
              margin-bottom: 40px;
            }
          }
          .map-roster-right{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }

          .map-player{
            display: flex;
            margin-bottom: 10px;

            .map-player-info-top{
              color: $link-color;
            }

            .map-player-info-bot{
              color: #bbb;
            }
          }
        }
      }
    }
  }
}
.map-team-status{
  text-transform: capitalize;
  &:before{
    content: '​';
  }
}

/* News */
.news-article{
  background-color: #fafafa;
  padding: 1.5rem;

  .article-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  .article-info{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    .article-author{
      display: flex;
      align-items: center;
    }
  }
}

/* Admin */
.admin-actions, #admin-action-edit{
  padding: 1rem;
  background-color: #fafafa;
  font-size: 12px;

  a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 5px;

    &:hover {
      text-decoration: none;
      color: $link-color;
      background-color: $hover-color;
    }
  }
}
#admin-action-edit, #admin-action-add{
  display: none;
}

#event-add-teams{
  margin-top: 1rem;
  #teams_{
    margin-bottom: .5rem;
  }
}

.team-selector{
  margin-top: .5rem;
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-column-gap: 10px;
}

/* Rankings */
.rankings-table {
  background: #fafafa;
  a{
    color: #0056b3;
  }

  td{
    font-family: 'Roboto', sans-serif;
    padding: .75rem;
    font-size: 11px;
    border-right: 1px solid #ccc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center !important;
  }
  th{
    text-align: center !important;
  }

  .left-align{
    text-align: left !important;
  }

  .td-small{
    padding: .75rem 0;
    width: 50px;
  }
  tr{
    &:hover{
      background-color: $hover-color;
    }
  }
  .W {
    color: green;
  }

  .L{
    color: red;
  }

  th{
    background-color: #eee;
    padding: .5rem 1rem;
    font-size: 10px;
    border-right: 1px solid #ccc;
  }

  img {
    margin-right: 5px;
  }
}

/* User Profile */
.user-profile{
  background-color: #fafafa;
  font-size: 12px;
  padding: .75rem 1rem;
  .user-username{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: .5rem;
  }
}

.user-posts{
  >div{
    margin-bottom: 1rem;
  }
  a{
    color: #0582b8;
  }
}

.avatar{
  display: inline-block;
  border-radius: 50%;

  img {
    width: 40px;
    border-radius: 50%;
    display: block;
  }
}
.edit-avatar{
  font-size: 10px;
  display: flex;
  align-items: center;
}

/* PLayers */
.player-recent-matches, .player-teams{
  background-color: #fafafa;
  margin-bottom: 1rem;
}
